@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto+Mono&display=swap');
body {
    font-family: 'Roboto Mono', monospace;
}
input {
    font-family: 'Roboto Mono', monospace;
}
.h1-title {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
.main {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn-group {
    display: flex;
    margin-bottom: 2rem;
}
.btn {
    flex: 1;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(224, 217, 217);
    padding: 8px 0;
    transition: background-color .3s ease;
}
.btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:hover {
    background-color: #ccc;
}

.record-group {
    margin-bottom: 2rem;
}
.record {
    padding: 8px 12px;
    background-color: transparent;
    border: 1px solid rgb(224, 217, 217);
    border-top: 1px solid transparent;
}
.record:nth-child(1) {
    border-top: 1px solid rgb(224, 217, 217);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.record:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.badge {
    display: inline-block;
    padding: 8px 12px;
    background-color: #ccc;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}
.badge-success {
    background-color: #20c997;
}
.badge-wrong {
    background-color: #dc3545;
}
.guess-group {
    display: flex;
    align-items: center;
    border: 1px solid rgb(224, 217, 217);
    border-radius: 5px;
}
.guess-title {
    display: inline-block;
    padding: 0 12px;
    background-color: #ccc;
    line-height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.guess-answer {
    display: block;
    padding-left: .5rem;
    font-size: 1rem;
    line-height: 28px;
    border: none;
    flex-grow: 1;
}
.guess-answer:focus {
    outline: none;
}
.guess-btn {
    line-height: 30px;
    padding: 0 16px;
    flex-grow: 0;
    border: none;
    border-left: 1px solid rgb(224, 217, 217);
}
